version: '3.8'

services:
  app:
    build: ./backend
    environment:
      - PORT=3000
      - POSTGRES_USER=myuser
      - POSTGRES_PASSWORD=mypassword
      - POSTGRES_DB=mydb
      - POSTGRES_HOST=postgres
      - POSTGRES_PORT=5432
    depends_on:
      - postgres
      - flyway
    networks:
      - app-network

  frontend:
    build: ./frontend
    ports:
      - "80:80"
    depends_on:
      - app
    networks:
      - app-network

  flyway:
    image: flyway/flyway
    command: -connectRetries=60 -url=jdbc:postgresql://postgres:5432/mydb -user=myuser -password=mypassword -baselineOnMigrate=true migrate
    volumes:
      - ./backend/db/migration:/flyway/sql
    depends_on:
      - postgres
    networks:
      - app-network

  postgres:
    image: postgres:15-alpine
    restart: always
    environment:
      - POSTGRES_USER=myuser
      - POSTGRES_PASSWORD=mypassword
      - POSTGRES_DB=mydb
    ports:
      - "5432:5432"
    volumes:
      - postgres-data:/var/lib/postgresql/data
    networks:
      - app-network

networks:
  app-network:
    driver: bridge

volumes:
  postgres-data:
